<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/underscore@1.13.7/underscore-umd-min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <%-include("partials/nav.ejs")%>

    <h1>Quiz</h1>

    <img src="../img/img/<%- pokemon[0].imgName %>"> <br>
    Name: <%- pokemon[0].name %> <br><br>

    <div id="q2Choices"></div>

    <input type="hidden" id="type" value="<%- pokemonType[0].elementName %>">

    <button id="check">Check Answer</button>

    <h3 id="resultText"></h3>

    <form action="/quiz">
        <button>Try Different Pokemon</button>
    </form>
    
    <script src="/js/update.js"></script>
</body>
</html>