<div id="across">
    <figure>
        <a href="/"> Home </a>
    </figure>

    <figure>
        <a href="/list"> Monster List </a>
    </figure>

    <figure>
        <a href="/quiz"> Quiz </a>
    </figure>
</div>