<div>
    <figure>
        <form action="/authors/new">
            <button id="addAuthor">Add Authors</button>
        </form>
    </figure>
    <figure>
        <form action="/quotes/new">
            <button id="addQuote">Add Quotes</button>
        </form>
    </figure>
    <figure>
        <form action="/authors">
            <button id="displayAuthor">Display Authors</button>
        </form>
    </figure>
    <figure>
        <form action="/quotes">
            <button id="displayQuote">Display Quotes</button>
        </form>
    </figure>
    <figure>
        <form action="/logout">
            <button id="logout">Logout</button>
        </form>
    </figure>
</div>