<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 6</title>
</head>
<body>
    <h1>Famous Quote Reports</h1>

    <form action="/allAuthors">
        <button>All Authors</button>
    </form>
        <br>
    <form action="/femaleAuthors">
        <button>All Female Authors</button>
    </form>
    <br>
    <form action="/americanMaleAuthors">
        <button>All American Male Authors</button>
    </form>
    <br>
    <form action="/authorBirthPlaces">
        <button>All Birth Places</button>
    </form>
    <br>
    <form action="/cAuthors">
        <button>All Authors With C Last Names</button>
    </form>
    <br>
    <form action="/inspirational">
        <button>All Quotes</button>
    </form>
    <br>
    <form action="/inspQuote">
        <button>All Inspirational Quotes</button>
    </form>
    <br>
    <form action="/lifeQuotes">
        <button>All Quotes with Word Life</button>
    </form>
    <br>
    <form action="/wisdomThingQuotes">
        <button>All Wisdom Quotes with Word Thing</button>
    </form>
    <br>
    <form action="/likedQuotes">
        <button>Liked quotes between 50 and 100</button>
    </form>
    <br>
    <form action="/liked3Quotes">
        <button>Top 3 Quotes</button>
    </form>
    <br>
    <form action="/category">
        <button>All Unique Categories</button>
    </form>
    <br>
    <form action="/photo">
        <button>All Authors and Image</button>
    </form>
    
</body>
</html>