<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Cocktail Hub</title>
    <link href="/css/style.css" rel="stylesheet">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght@100..900&family=Major+Mono+Display&family=Protest+Revolution&display=swap"
        rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght@100..900&family=Major+Mono+Display&family=Nosifer&family=Noto+Color+Emoji&family=Protest+Revolution&family=Rubik+Moonrocks&display=swap"
        rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght@100..900&family=Libre+Barcode+39+Text&family=Major+Mono+Display&family=Nosifer&family=Noto+Color+Emoji&family=Protest+Revolution&family=Rubik+Moonrocks&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght@100..900&family=Libre+Barcode+39+Text&family=Major+Mono+Display&family=Nosifer&family=Noto+Color+Emoji&family=Protest+Revolution&family=Rubik+Moonrocks&display=swap"
        rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght@100..900&family=Libre+Barcode+39+Text&family=Major+Mono+Display&family=Nosifer&family=Noto+Color+Emoji&family=Noto+Sans+Ogham&family=Protest+Revolution&family=Rubik+Moonrocks&display=swap"
        rel="stylesheet">


        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <%- include("partials/nav.ejs") %>

        <div class="welcome-box">
            <h1 class="protest-revolution-regular" style="font-size:100px;">Welcome
                to the<br> Cocktail Hub</h1>
            <div class="welcome-content">
                <!-- <p>~</p>
                <p>Post Drink Lists</p>
                <p>&</p>
                <p>Find Ingredient Costs</p> -->
            </div>
        </div>
        <p style="font-size:100px;"> Sit back
            relax and
            discover
            your new
            happy
            hour
            go-to.
        </p>
        <div style="display:flex">
            <img style="width:500px; height:500px;" src="../img/trpDrink3.png">
            <p id="p1" style="font-size:50px; margin-left:10px; text-shadow: 8px 2px 5px rgba(0, 0, 0, 0.5);">
                <span id="dash">-</span> Experience the world of
                cocktails. Search and find ingredients for
                thousands of
                cocktail recipes.
                <!-- <span class="nosifer-regular">Explore the possibilities.</span> -->
            </p>
        </div>
        <div style="display:flex">
            <p style="font-size:50px; "><img src="../img/icon1.png"> Connect with individuals from around the
                world,
                and
                share
                your favorite
                alcoholic beverage.</p>

            <p style="font-size:50px;"><img src="../img/icon1.png"> What's the new trending cocktail? Find out by
                visiting
                the
                cocktail thread.</p>

            <p style="font-size:50px;"><img src="../img/icon1.png"> A place where you can find the perfect alcoholic
                beverage for
                every occasion.
            </p>
        </div>
        <p class="libre-barcode-39-text-regular" style="font-size:50px; color:black;"> let your flavor palete run wild</p>
        </p>
        <!-- <div><img src=" ../img/drinkTransparent.png" style="width:100px; height:100px">
        </div> -->
</body>

</html>