<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 id="login">Login</h1>
    <br><br>

    <form action="/login" method="POST" id="formBack">
        Username:
        <input type="text" name="username">
        <br><br>
        Password:
        <input type="password" name="password">
        <br><br>
        <button id="logout">Login</button>
    </form>
</body>
</html>