<!-- <nav class="navbar">
        <ul class="nav-list">
                <li><a href="/welcome" class="nav-link nav-selected">Home</a></li>
                <li><a href="/find" class="nav-link">Find</a></li>
                <li><a href="/posts" class="nav-link">Post</a></li>
                <li><a href="/costs" class="nav-link">Cost</a></li>
                <li><a href="/profile" class="nav-link">Edit Profile</a></li>
                <li><a href="/logout" class="nav-link">Logout</a></li>
        </ul>
</nav> -->

<nav class="navbar">
        <ul class="nav-list">
                <li><a href="/welcome" class="nav-link"><img class="imgNav" src="../img/homeIcon.png">
                                <p class="linkLabel">Home</p>
                        </a></li>
                <li><a href="/find" class="nav-link"><img class="imgNav" src="../img/findIcon.png"><p class="linkLabel">Find</p></a></li>
                <li><a href="/posts" class="nav-link"><img class="imgNav" src="../img/postIcon.png"><p class="linkLabel">Post</p></a></li>
                <li><a href="/random" class="nav-link"><img class="imgNav" src="../img/icon1.png"><p class="linkLabel">Random</p></a></li>
                <li><a href="/profile" class="nav-link"><img class="imgNav" src="../img/profileIcon.png"><p class="linkLabel">Profile</p></a></li>
                <!-- <li><a href="/logout" class="nav-linkLogout"><img class="imgNav" src="../img/logoutIcon.png"><p class="linkLabel">Logout</p></a></li> -->
                
        </ul>
        <div id="logoutRight"><a href="/logout" class="nav-link"><img class="imgNav" src="../img/logoutIcon.png"><p class="linkLabel">Logout</p></a></div>
</nav>