img{
    width:25%;
}

form{
    text-align: center;
}

h1{
    color: red;
    text-align: center;
}

body{
    background-color:lightgray;
}

p{
    text-align: center;
    background-color: lightblue;
    width: 75%;
    border-radius: 50px;
    border: 1px solid black;
    margin: 0 auto;
}


button:hover{
    background-color: aqua;
    transform: scale(1.2);
}

#authorName{
    color: black;
}